/* :root{
    --bluecolor: 
    --greencolor:
    --redcolor:
    --purplecolor:
} */

body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#counter {
    margin: .75em auto;
    text-align: center;
    font-size: 4em;
}

#favNumberDiv .btn-primary {
    background-color: #800000;
    color: white;
}

#favoriteColor {
    width: 200px;
    height: 100px;
    background-color: #800000;
    color: white;
    margin: 2em auto;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

#favColorDiv .btn-primary {
    color: white;
}

#favColorDiv .btn-primary:hover {
    color: black;
}

#favColorDiv .col-3 {
    padding: 2px;
}

#blueButton {
    background-color: #0011ff;
}

#greenButton {
    background-color: #11d473;
}

#redButton {
    background-color: #dd2222;
}

#purpleButton {
    background-color: #dd00dd;
}